<% if current_user %>
	<button><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></button>
	<button><%= link_to("Cats", cats_path) %></button>
	<button><%= link_to("Messages", messages_path) %></button>
	<button><%= link_to("Map", map_index_path) %> </button>
	<button><%= link_to("Home", root_path) %></button>
	<% if !current_user.first_name || current_user.first_name == "" %>
		<button><%= link_to(current_user.email, usershow_path(current_user.id)) %></button> 
	<% else %>
		<button><%= link_to(current_user.first_name, usershow_path(current_user.id)) %></button> 
	<% end %>
<% else %>
	<button><%= link_to("Register", new_user_registration_path) %></button>	
	<button><%= link_to("Login", new_user_session_path) %></button> 
<% end %>