<div>
	<div>
		<%= form_for :message, url: messages_path, method: 'post' do |f| %>
			<p> 
				Send Message		
			</p>
			<%= f.hidden_field :to_id, value: @getcatuser.email %>
			<p>
				<%= f.label :text %>
				<%= f.text_area :text, size: "30x10" %>
			</p>
			<p>
		    <%= f.submit "Send Message" %>
		  </p>
		<% end %>
	</div>
	<div>
		<p>First Name: <%= @getcatuser.first_name %></p>
		<p>Last Name: <%= @getcatuser.last_name %></p>
		<p>Email: <%= @getcatuser.email %></p>
		<p>Street: <%= @getcatuser.street %></p>
		<p>Zip Code: <%= @getcatuser.zip_code %></p>
		<p>City: <%= @getcatuser.city %></p> 
		<p>Tel: <%= @getcatuser.tel %></p>
		<p>Mobile: <%= @getcatuser.mobile %></p>
	</div>
</div>
<div>
	<% if @getcatuser.cats %>
	<h1>Cats in the House</h1>
		<% @getcatuser.cats.each do |cat| %>
			<p>Name: <%= cat.name %></p>
			<p>Breed: <%= cat.breed %></p>
			<p>Age: <%= cat.age %></p>
			<p>Comment: <%= cat.comment %></p>
		<% end %>
	<% end %>
</div>