<div>
	<div>
		<p><%= link_to("Send Message to User", new_message_path(@getcatuser), method: "get") %></p>
		<p><%= link_to("Start Event with User", new_event_path(@getcatuser), method: "get") %></p>
	</div>
	<div>
		<p>First Name: <%= @getcatuser.first_name %></p>
		<p>Last Name: <%= @getcatuser.last_name %></p>
		<p>Email: <%= @getcatuser.email %></p>
		<p>Street: <%= @getcatuser.street %></p>
		<p>Zip Code: <%= @getcatuser.zip_code %></p>
		<p>City: <%= @getcatuser.city %></p> 
		<p>Tel: <%= @getcatuser.tel %></p>
		<p>Mobile: <%= @getcatuser.mobile %></p>
	</div>
	<div>
		<h1>All comments</h1>
		<p>It have ben a good place for a cat in  <%= @getcatuser.uservotes.where(goodevent: true).count %> times and a bad place in <%= @getcatuser.uservotes.where(goodevent: false).count %> times.</p> 
		<% @getcatuser.uservotes.each do |uservote| %>
			<p>Comment from <%= link_to(User.find(uservote.event.care_user_id).email, infouser_path(User.find(uservote.event.care_user_id).id)) %>: <%= uservote.text %></p>
		<% end %>
</div>
</div>
<div>
	<% if @getcatuser.cats %>
	<h1>Cats in the House</h1>
		<% @getcatuser.cats.each do |cat| %>
			<p>Name: <%= cat.name %></p>
			<p>Breed: <%= cat.breed %></p>
			<p>Age: <%= cat.age %></p>
			<p>Comment: <%= cat.comment %></p>
			<hr>
		<% end %>
	<% end %>
</div>