<div class="welcome sign-up text-center">
  <%= render 'welcome/navbar' %>
  <div class="welcome-image-sign-up">
      <%= image_tag("house-of-bastet-a.png", class: "house-of-bastet-a") %>
  </div>
  <% if current_user.first_name %>
  <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
  <p>Email: <%= current_user.email %> </p>
  <p>Address: <%= current_user.street %> <%= current_user.zip_code %> <br> <%= current_user.city %> <%= current_user.state %></p>
  <p>Telephone: <%= current_user.mobile %></p>
  <p>
  	<button>Edit data</button>
  </p>
  <% else %>
		<div>
				<%= form_for :user, url: userupdate_path do |f| %>
					<p class="text-form-user">
						Name
					</p>
					<p>
						<%= f.label :first, class: "userdata-form-text" %>
					  <%= f.text_field :first_name, class: "background-color" %>
					</p>	
					<p>
						<%= f.label :last, class: "userdata-form-text" %>
					  <%= f.text_field :last_name, class: "background-color" %>
					 </p>
					 <br>
					<p class="text-form-user">
						Adress
					</p>
					<p>
						<%= f.label :street, class: "userdata-form-text" %>
					  <%= f.text_field :street, class: "userdata-form background-color" %>
						<%= f.label :zip_code, class: "userdata-form-text" %>
					  <%= f.text_field :zip_code, class: "userdata-form-short background-color" %>
					 </p>
					 <br>
					<p>
						<%= f.label :city, class: "userdata-form-text" %>
					  <%= f.text_field :city, class: "userdata-form background-color" %>
						<%= f.label :state, class: "userdata-form-text" %>
					  <%= f.text_field :state, class: "userdata-form-short background-color" %>
					 </p>
					 <br>
					<p class="text-form-user">
						Phone Number
					</p>
					<p>
					  <%= f.text_field :mobile, class: "background-color" %>
					 </p>
					<p>
				    <%= f.submit "Store", class: "sign-text sign-button" %>
				  </p>
			<% end %>
		</div>
	<% end %>
</div>	
