<div class="welcome sign-up text-center">
  <%= render 'welcome/navbar' %>
    <div class="welcome-image-sign-up">
        <%= image_tag("house-of-bastet-a.png", class: "house-of-bastet-a") %>
    </div>
    <div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "sign-text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "background-form" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "sign-text" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "background-form" %>
      </div>

<!--       <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%> -->

      <div class="actions">
        <%= f.submit "Log in", class: "sign-text sign-button" %>
      </div>
    <% end %>
  </div>  
</div>  


