<div class="cat-home text-center">
  <%= render 'welcome/navbar2' %>
  <div class="welcome-image-sign-up">
    <%= image_tag("house-of-bastet-n.png", class: "house-of-bastet-a") %>
  </div>
  <div class="form-user-form">
    <%= form_for :cat, url: cats_path do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, class: "background-color2" %>
      </p>
      <p>
        <%= f.label :breed %>
        <%= f.text_field :breed, class: "background-color2" %>
      </p>
      <p>
        <%= f.label :age %>
        <%= f.number_field :age, class: "background-color2" %>
      </p>
      <p>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </p>
      <p>
        <%= f.label :Add_Something_? %>
        <%= f.text_area :comment, class: "background-color2" %>
      </p>
      <p>
        <%= f.submit "Save" %>
      </p>
    <% end %>
  </div>
  <div>
    <button><%= link_to("Back", cats_path) %></button>
  </div>
</div>


<audio class="audio-play" id="yes-audio" controls preload="none"> 
   <source src="http://wav-sounds.com/wp-content/uploads/2017/09/Movie-01.wav" type="audio/mpeg">
</audio>





